<div class="modal fade" id="delete{{ car.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> шапка! сделать</h5> ###УБРАТЬ ЭТО ПОЗОРИЩЕ
      </div>

      <div class="modal-body">
        <div class="confirm_delete">
          <h2>Delete  {{ car.model }}?</h2>
          </div>
            </div>
      <div class="modal-footer">

    <form action="{% url "taxi:car-delete" pk=car.id %}" method="post">
      {% csrf_token %}

      <input type="submit" value="Yes" class="btn btn-danger">
      <button type="button" class="btn btn-success" data-mdb-dismiss="modal">cancel</button>
    </form>
      </div>
    </div>
  </div>
</div>