<div class="modal fade" id="delete{{ comment.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">U are win 10000$ click <a
            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">her</a></h5>

      </div>
      <div class="modal-body">
        {% if user.id == comment.driver_id %}
          <div class="confirm_delete"><p>Delete <strong> your comment</strong>?</p>
          </div>
        {% else %}
          <div class="confirm_delete"><p><strong>Delete this comment</strong>?</p>
          </div>
        {% endif %}

      </div>
      <div class="modal-footer">
        <form action="{% url 'taxi:delete_comment' id=car.id pk=comment.pk %}" method="post">
          {% csrf_token %}

          <button type="submit" class="btn btn-danger">Yes</button>
          <button type="button" class="btn btn-success" data-mdb-dismiss="modal">cancel</button>
{#          <a href="{% url "taxi:car-detail" pk=car.id %}" class="btn btn-success">cancel</a>#}
        </form>
      </div>
    </div>
  </div>
</div>
