{% extends "base.html" %}

{% block content %}
  <div>
    <h1>Taxi Service Home</h1>
    <p>Welcome to Best Taxi Ever!</p>
    <h2>Dynamic content</h2>
    <p>The Taxi service has the following record counts:</p>
    <ul>
      <li class="car_list_features "><a href="/cars/" class="link_color">Cars: {{ num_cars }}</a></li>
      <li class="car_list_features"><a href="/drivers/" class="link_color">Drivers: {{ num_drivers }}</a></li>
      <li class="car_list_features"><a href="/manufacturers/"
                                       class="link_color">Manufacturers: {{ num_manufacturers }}</a></li>
    </ul>

    <p>You have visited this page
      {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>
  </div>

{% endblock %}
