{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#  <div class="confirm_delete">#}
{#  <h3>Delete {{ manufacturer.name }}?</h3>#}
{#    <p>All machines of this manufacturer will also be deleted</p>#}
{#  <form action="" method="post">#}
{#    {% csrf_token %}#}
{##}
{#    <input type="submit" value="Yes" class="btn btn-danger">#}
{#    <a href="/manufacturers/" class="btn btn-primary" role="button">Cancel</a>#}
{#  </form>#}
{#    </div>#}
{#{% endblock %}#}
{##}




<div class="modal fade" id="delete{{ manufacturer.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <p>Are u sure?</p>
        <p>delete {{ manufacturer.name }}</p>
        <p>{{ }}</p></h5>

      </div>
      <div class="modal-body">
        {% if user.id != driver.id %}
          <div class="confirm_delete"><p>Delete <strong>{{ driver.username }}</strong>?</p>
            <p>He is drive {{ driver.cars.all.count }} car </p></div>
          </div>
        {% else %}
          <div class="confirm_delete"><p> &nbsp;&nbsp;&nbsp;Are u sure,</p>
            <p>
              <strong>

                &nbsp;&nbsp;&nbsp;Delete ur &nbsp;&nbsp;account?</strong>
            </p>
          </div>
        {% endif %}

      <div class="modal-footer">
        <form action="{% url "taxi:manufacturer-delete" pk=manufacturer.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Yes, delete</button>
          <button type="button" class="btn btn-success" data-mdb-dismiss="modal">cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
